*margin {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 40px;
    background-color: white;
    z-index: 2;

}

.navbar__s1__title {
    color: rgb(137, 45, 225);
    font-size: 40px;
}

.navbar__s2 {
    padding: 15px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    height: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;

}

.mylearning {
    cursor: pointer;
}

.mylearning__popup {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px rgb(137, 45, 225) solid;
    border-radius: 15px;
    height: 90px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 04px;
    top: 40px;
    right: 145px;
    box-shadow: rgb(137, 45, 225) 0 4px 4px;
    display: none;
    transition: 0.3s;

}

.mylearning:hover {
    .mylearning__popup {
        display: block;
    }
}


.categories {
    display: flex;
    gap: 15px;
    padding: 0px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.categories p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(137, 45, 225);
    color: white;
    border: solid rgb(137, 45, 225) 1px;
    border-radius: 25px;
    padding: 05px;
    transition:transform 0.3s ease;

}

.categories p:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.home--image {
    display: flex;
    justify-content: end;
    background-color: hsl(220, 27%, 98%);
    width: 100%;
    position: relative;
    z-index: 1;
}


.home--image_text {
    background-color: hsl(182, 73%, 37%);
    color: black;
    display: inline-block;
    height: 200px;
    width: 275px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: solid 1px cadetblue;
    border-radius: 25px;
    position: absolute;
    left: 50px;
    animation-name: zoom;
    animation-duration: 2.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom {
    0%{
        transform:scale(0);
        opacity:0
    }
    100%{transform: scale(1);
    opacity: 1;}

    
}

.home--image_text:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.home--images_text {
    background-color: hsl(182, 73%, 37%);
    color: black;
    display: inline-block;
    height: 200px;
    width: 275px;
    margin-top: 270px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: solid 1px cadetblue;
    border-radius: 25px;
    position: absolute;
    left: 50px;
    animation-name: zoom;
    animation-duration: 2.5s;
    opacity: 0;
    animation-fill-mode: forwards;

}
@keyframes zoom {
    0%{
        transform:scale(0);
        opacity:0
    }
    100%{transform: scale(1);
    opacity: 1;}

    
}

.home--images_text:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.home--image button {
    background-color: rgb(137, 45, 225);
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.recommended {
    padding: 10px;
}

.recommended-container {
    display: flex;
    justify-content: space-between;
}

.course-card {
    padding-top: 15px;
    color: white;
    padding: 10px;
    background-color: rgb(137, 45, 225);
    border: solid rgb(137, 45, 225) 1px;
    border-radius: 25px;
    width: 20%;
}

.course-card:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.course-card img {
    border-radius: 20px;
    width: 100%;
}

.topic {
    padding: 10px;
}

.topics-container {
    display: flex;
    padding: 10px;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics-container p {
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;

}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
}

.card {
    padding-top: 15px;
    color: white;
    padding: 10px;
    background-color: rgb(137, 45, 225);
    border: solid rgb(137, 45, 225) 1px;
    border-radius: 25px;
    width: 20%;
}

.card img {
    border-radius: 20px;
    width: 100%;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}


.row2 {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 25px;
}

.body {
    background-color: cornflowerblue;
}

P::first-letter {
    text-transform: uppercase;
}

.footer_section {
    background-color: black;
    color: white;
}

.footer-container {
    display: flex;
    padding: 20px;
    gap: 40px;
    margin: 08px;

}

.footer_section-two {
    display: flex;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 10px;
}